.ct {
	margin-left:20px;
	margin-right:20px;
	padding-top: 100px; 
	
}

.mt30 {
	margin-top:30px;
}
.mt10 {
	margin-top:50px;
}

.but-lf {
	float:left;
}

.mt0 {
	margin-top:0px;
}

.wi40 {
	width:40%;
}
