{%extends "webui/base.html"%}
{% block body %}
	</header>
	<!-- end header -->
	<section id="banner">
	 
	<!-- Slider -->
        <div id="main-slider" class="flexslider">
            <ul class="slides">
            	<li>
                <img src="/static/img/slides/1.jpg" alt="" />
                <div class="flex-caption">
                    <h3>虚拟主机</h3> 
					<p>利用虚拟主机，开发出各式各样的web应用</p> 
					 
                </div>
              <li>
                <img src="/static/img/slides/2.jpg" alt="" />
                <div class="flex-caption">
                    <h3>云服务器</h3> 
					<p>利用icycloud的硬件搭建自己的服务集群</p> 
					 
                </div>
              </li>
              
              </li>
            </ul>
        </div>
	<!-- end slider -->
 
	</section>
	<section class="hero-text">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<div class="aligncenter"><h1 class="aligncenter">欢迎来到icycloud云服务</h1>摸摸头,往下拉有免费的云主机哦,快来试一下吧!!!</div>
				
			</div>
		</div>
	</div>
	</section>
	
	
	<section id="content">
	
	
	<div class="container">
	    	<div class="row">
			<div class="col-md-12">
				<div class="aligncenter"><h2 class="aligncenter">我们的服务</h2>、</div>
				<br/>
			</div>
		</div>
			<div class="row">
		<div class="skill-home"> <div class="skill-home-solid clearfix"> 
		<div class="col-md-3 text-center">
		
		</div>
		<div class="col-md-3 text-center"> 
		<span class="icons c2"><i class="icon-tools"></i></span> <div class="box-area">
		<h3>云服务</h3> <p>申请虚拟主机以及二级域名,开始搭建自己的云服务</p></div>
		</div>

		<div class="col-md-3 text-center"> 
		<span class="icons c4"><i class="icon-trophy"></i></span> <div class="box-area">
		<h3>Web应用开发</h3> <p>如果你不想自己搭建自己的应用,我们也可以包办,嗯</p>
		</div></div>
		</div></div>
		</div> 
	 

	</div>
	</section>
	
		 <section id="our-pricing">
		 <section class="layer plans">
  <section>


    
    <section class="third lift plan-tier callout" onclick="location.href='/invitecode';">

      <h6>Most popular</h6>
      <h4>虚拟主机</h4>
      <h5><sup class="superscript">¥</sup><span class="plan-price">0</span><sub> /月</sub></h5>

      
      <p class="early-adopter-price">立即注册免费</p><br>
      <del>¥10/月</del>
      

      <ul>
<li>用于搭建网站</li>
<li><strong>免费</strong>二级域名</li>
<li><strong>免费linux主机</strong></li>
</ul>

    </section>
    

    <div style="clear: both"></div>
  </section>
</section>
		 </section>
	
	
	<section class="testimonial-area">
    <div class="testimonial-solid">
        <div class="container">
            <div class="testi-icon-area">
                <div class="quote">
                    <i class="icon-megaphone"></i>
                </div>
            </div>
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carousel-example-generic" data-slide-to="0" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="1" class="">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="2" class="active">
                        <a href="#"></a>
                    </li>
                    <li data-target="#carousel-example-generic" data-slide-to="3" class="">
                        <a href="#"></a>
                    </li>
                </ol>
                <div class="carousel-inner">
                    <div class="item active">
                        <p>暴雪公司在2011年的科隆游戏展上举行了发布会，公司创始人之一的Frank Pearce就《星际争霸》系列的问题进行了解答，其中对于星际争霸2自由之翼在商业上的失败原因归咎于游戏的“交易平台”系统没有如期推出。彩蛋</p>
                        <p>
                            <b>- 自由之翼是垃圾 -</b>
                            <!--b>- @李鹏 -</b-->
                        </p>
                    </div>
                    <div class="item">
                        <p>从战斗画面上来说，“虫群之心”的战斗景象更为细致，种族间的个能力释放也更加清晰、精彩，而整个战场设计也更为细腻，譬如虫族是有“钻地”能力的，在下地又上来之后，地面上就会留下一个黑洞，这个黑洞需要过一会才会消除。还有一关是在寒冰之星，在那里时常会有暴风雪并会将各种单位、建筑都冻结起来，这里的暴风雪也显得相当真实（当然是在即时战略游戏的领域中）。从CG上来说，小编觉得就真的比前作好了很多，人物的面部细节、表情等等都比前作有了很大的进步。</p>
                        <p>
                            <b>- 要玩就玩虫群之心,嗯 -</b>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
	<!--footer>
	<div class="container">
		<div class="row">
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Our Contact</h5>
					<address>
					<strong> company Inc</strong><br>
					JC Main Road, Near Silnile tower<br>
					 Pin-21542 NewYork US.</address>
					<p>
						<i class="icon-phone"></i> (123) 456-789 - 1255-12584 <br>
						<i class="icon-envelope-alt"></i> email@domainname.com
					</p>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Quick Links</h5>
					<ul class="link-list">
						<li><a href="#">Latest Events</a></li>
						<li><a href="#">Terms and conditions</a></li>
						<li><a href="#">Privacy policy</a></li>
						<li><a href="#">Career</a></li>
						<li><a href="#">Contact us</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Latest posts</h5>
					<ul class="link-list">
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
						<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
						<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
					</ul>
				</div>
			</div>
			<div class="col-lg-3">
				<div class="widget">
					<h5 class="widgetheading">Recent News</h5>
					<ul class="link-list">
						<li><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></li>
						<li><a href="#">Pellentesque et pulvinar enim. Quisque at tempor ligula</a></li>
						<li><a href="#">Natus error sit voluptatem accusantium doloremque</a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div id="sub-footer">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="copyright">
						<p>
							<span>Copyright &copy; 2016.Company name All rights reserved.<a target="_blank" href="http://sc.chinaz.com/moban/">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>
						</p>
					</div>
				</div>
				<div class="col-lg-6">
					<ul class="social-network">
						<li><a href="#" data-placement="top" title="Facebook"><i class="fa fa-facebook"></i></a></li>
						<li><a href="#" data-placement="top" title="Twitter"><i class="fa fa-twitter"></i></a></li>
						<li><a href="#" data-placement="top" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
						<li><a href="#" data-placement="top" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
						<li><a href="#" data-placement="top" title="Google plus"><i class="fa fa-google-plus"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	</footer>
</div>
<a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
{% endblock %}
                <div class="carousel-inner">
                    <div class="item">
                        <p>暴雪公司在2011年的科隆游戏展上举行了发布会，公司创始人之一的Frank Pearce就《星际争霸》系列的问题进行了解答，其中对于星际争霸2自由之翼在商业上的失败原因归咎于游戏的“交易平台”系统没有如期推出。彩蛋</p>
                        <p>
                            <b>- 自由之翼是垃圾 -</b>
                            <!--b>- @李鹏 -</b-->
                        </p>
                    </div>
                    <div class="item">
                        <p>从战斗画面上来说，“虫群之心”的战斗景象更为细致，种族间的个能力释放也更加清晰、精彩，而整个战场设计也更为细腻，譬如虫族是有“钻地”能力的，在下地又上来之后，地面上就会留下一个黑洞，这个黑洞需要过一会才会消除。还有一关是在寒冰之星，在那里时常会有暴风雪并会将各种单位、建筑都冻结起来，这里的暴风雪也显得相当真实（当然是在即时战略游戏的领域中）。从CG上来说，小编觉得就真的比前作好了很多，人物的面部细节、表情等等都比前作有了很大的进步。</p>
                        <p>
                            <b>- 要玩就玩虫群之心,嗯 -</b>
                        </p>
                    </div>
                </div>
            </div>
